{% extends "base.html" %}



{% block content %}

		
		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>درباره ما</h1>
								<p class="mb-4">فروشگاه دوربین شات با 18 سال تجربه در زمینه خرید و فروش دوربین‌های دست دوم، به علاقه‌مندان به عکاسی و فیلمبرداری امکان خرید و فروش دوربین‌های دست دوم با شرایط مطلوب و مناسب را می‌دهد. این فروشگاه با هدف تامین رضایت مشتریان خود، انواع دوربین‌های دست دوم و تجهیزات مرتبط با آن‌ها را با قیمتی مناسب و با شرایط عالی در اختیار مشتریان خود قرار می‌دهد. همچنین، فروشگاه دوربین شات با تیمی مجرب از کارشناسان فنی، امکان تعمیر و نگهداری دوربین‌های شما را نیز فراهم می‌کند</p>
								<p><a href="/" class="btn btn-secondary me-2">همین حالا سفارش دهید</a><a href="/shop" class="btn btn-white-outline">لیست محصولات</a></p>
							</div>
						</div>
						<div class="col-lg-7">
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-lg-6">
						<h2 class="section-title">چرا از رنت شات اجاره کنیم؟</h2>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="/static/images/truck.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>ارسال سریع و رایگان</h3>
									<p>ارسال سریع به تمام نقاط مختلف ایران به صورت کاملا رایگان</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="/static/images/bag.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>دسترسی آسان</h3>
									<p>طراحی ساده و آسان وبسایت رنت شات باعث میشه تا مشتری های ما در سریع ترین زمان ممکن محصول مورد نظر رو به صورت انلاین اجاره کنند</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="/static/images/support.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>پشتیبانی 24 ساعته</h3>
									<p>پشتیبان های متخصص رنت شات به صورت بیست و چهار ساعت پاسخگوی شما هستند</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="/static/images/return.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>بازگشت وجه</h3>
									<p>امکان بازگشت وجه در صورت بروز مشکلات</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="/static/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->


		

		<!-- Start Testimonial Slider -->
		<div class="testimonial-section before-footer-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
						<h2 class="section-title">About Rentshot</h2>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="testimonial-slider-wrap text-center">

							<div id="testimonial-nav">
								<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
								<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
							</div>

							<div class="testimonial-slider">
								
								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>فروشگاه دوربین شات به مدیریت آقای احمد آدینه با 18 سال تجربه در زمینه خرید و فروش دوربین‌های دست دوم، به علاقه‌مندان به عکاسی و فیلمبرداری امکان خرید و فروش دوربین‌های دست دوم با شرایط مطلوب و مناسب را می‌دهد. این فروشگاه با هدف تامین رضایت مشتریان خود، انواع دوربین‌های دست دوم و تجهیزات مرتبط با آن‌ها را با قیمتی مناسب و با شرایط عالی در اختیار مشتریان خود قرار می‌دهد. همچنین، فروشگاه دوربین شات با تیمی مجرب از کارشناسان فنی، امکان تعمیر و نگهداری دوربین‌های شما را نیز فراهم می‌کند.</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="/static/images/person-1.png" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maihem</h3>
													<span class="position d-block mb-3">CEO, Co-Founder</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>با توجه به روند رو به رشد خرید و فروش آنلاین، فروشگاه دوربین شات نیز با راه‌اندازی فروشگاه آنلاین، امکان خرید و فروش دوربین‌های دست دوم با شرایطی مناسب و قیمتی رقابتی را برای مشتریان خود فراهم کرده است. مشتریان می‌توانند با خیال راحت به مقایسه و بررسی دوربین‌های موجود در سایت فروشگاه دوربین شات بپردازند و با کارشناسان این فروشگاه در هر لحظه در ارتباط باشند. هدف اصلی فروشگاه دوربین شات، ارائه خدماتی به شما مشتریان عزیز در سطحی است که پس از خرید از این فروشگاه، نیازی به خرید دوربین از فروشگاه‌های دیگر نداشته باشید.</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="/static/images/person-1.png" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maihem</h3>
													<span class="position d-block mb-3">CEO, Co-Founder</span>
						
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>فروشگاه دوربین شات با داشتن تیمی مجرب از کارشناسان فنی، به مشتریان خود این امکان را می‌دهد که دوربین‌های خود را جهت تعمیر و نگهداری به آن‌ها بسپارند. همچنین، با توجه به نیازهای مشتریان، فروشگاه دوربین شات با تمرکز بر دوربین‌های دست دوم، توانسته است در زمینه خرید و فروش دوربین‌های مختلف از برندهای معتبری مانند نیکون،کانن، سونی و … فعالیت کند. فروشگاه دوربین شات با توجه به سابقه کاری بلند مدت خود، توانسته است اعتماد و رضایت مشتریان خود را جلب کند و به عنوان یکی از مراکز معتبر خرید و فروش دوربین‌های دست دوم شناخته شود. شعار کارکنان فروشگاه دوربین شات “هدف از فروش، کمک به علاقه‌مندان به عکاسی و فیلمبرداری در به دست آوردن دوربینی با کیفیت و قیمتی مناسب است” است. با به‌کارگیری شیوه‌هایی که درنهایت منجر به رضایت مشتریان می‌شود، فروشگاه دوربین شات توانسته است به عنوان یکی از مراکز معتبر خرید و فروش دوربین‌های دست دوم در بازار عکاسی و فیلمبرداری شناخته شود.</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="/static/images/person-1.png" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maihem</h3>
													<span class="position d-block mb-3">CEO, Co-Founder</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Testimonial Slider -->

		
{% endblock %}