
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />
 
		<!-- Bootstrap CSS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="/static/css/tiny-slider.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<title>Rentshot</title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/">RentShot<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item ">
							<a class="nav-link" href="/">صفحه اصلی</a>
						</li>
						<li><a class="nav-link" href="/shop">فروشگاه</a></li>
						<li><a class="nav-link" href="/about">درباره ما</a></li>
						<li><a class="nav-link" href="/services">خدمات</a></li>
						<li><a class="nav-link" href="/blog">وبلاگ</a></li>
						<li><a class="nav-link" href="/contact">ارتباط با ما</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="/profile"><img src="/static/images/user.svg"></a></li>
						<li><a class="nav-link" href="/cart"><img src="/static/images/cart.svg"></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->
		{% if messages %} 
<ul class="messages">
     {% for message in messages %} 
     <div class="alert alert-info alert-with-icon" data-notify="container"> 
        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
             <i class="tim-icons icon-simple-remove"></i>
             </button> 
             <span data-notify="icon" class="tim-icons icon-bell-55"></span> 
             <span data-notify="message" style="text-align: right;">{{ message }}</span>
             </div>
              {% endfor %} 
            </ul> 
            {% endif %}

		{% block content %}
		{% endblock %}
		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="sofa-img">
					<img src="/static/images/sofa.png" alt="Image" class="img-fluid">
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="/static/images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>مشترک شدن در رنت شات</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="نام کاربری">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="ادرس الکترونیکی">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Rent Shot</a>
						<p class="mb-4">فروشگاه دوربین شات با 18 سال تجربه در زمینه خرید و فروش دوربین‌های دست دوم، به علاقه‌مندان به عکاسی و فیلمبرداری امکان خرید و فروش دوربین‌های دست دوم با شرایط مطلوب و مناسب را می‌دهد. این فروشگاه با هدف تامین رضایت مشتریان خود، انواع دوربین‌های دست دوم و تجهیزات مرتبط با آن‌ها را با قیمتی مناسب و با شرایط عالی در اختیار مشتریان خود قرار می‌دهد. همچنین، فروشگاه دوربین شات با تیمی مجرب از کارشناسان فنی، امکان تعمیر و نگهداری دوربین‌های شما را نیز فراهم می‌کند.</p>
</div>
						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="/about">درباره ما</a></li>
									<li><a href="/services">خدمات</a></li>
									<li><a href="/blog">وبلاگ</a></li>
									<li><a href="/contact">ارتباط با ما</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="/contact">پشتیبانی</a></li>
									<li><a href="#">دانش محور</a></li>
									<li><a href="/contact">ارتباط انلاین</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">تیم ما</a></li>
									<li><a href="#">حریم خصوصی</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	  
		<script src="/static/js/tiny-slider.js"></script>
		<script src="/static/js/custom.js"></script>
	</body>

</html>
