{% extends "profile-base.html" %}
{% block content %}
<style>
body {
   font-family: 'Montserrat', sans-serif;
   color:#2d2d2d;
   background:#ffffff;
}



h3 {
   color:#202020;
   font-weight:700;
}

p {
   padding-top:3px;
}

.container {
   margin-top:50px;
   padding-bottom:80px;
   width:80%;
}


</style>
<div class="container">
    <h1>RecklessRP Rules</h1>
    <p>If you do <u style="color:#913939;">not</u> comply to these rules, you will recieve a punishment.<br />
       <u style="color:#913939;">Always</u> listen to what a staff member says.<br />
    If you want to appeal, you can do so on the <a href="http://discord.recklessrp.com/">discord</a> server.</p>
    <hr>
    <h3>GENERAL RULES</h3>
    <ol>
       <li>Be respectful to all players out-of-character.</li>
       <li>Any threats or intent to harm other players in the community will result in a permanent ban.</li>
       <li>Do not complain about staffing decisions in game or in global chat. Appeals or reports can be made on the discord.</li>
       <li>In game currency may not be sold or traded for real life items, currency or credits</li>
       <li>Avoiding punishments by any means is forbidden.</li>
       <li>A staff member has final say on all rule interpretations including those not explicitly stated in the rules.</li>
       <li>Anyone caught baiting or encouraging others to violate rules will have an equal or greater punishment to the rule violation.</li>
    </ol>
    <hr />
    <h2><strong><font style="color:#212121">RP RULES</font></strong></h2>
    <p><strong><font style="color:#913939">Random Death Match (RDM)</font></strong></p>
    <ul>
       <li>Players directly harming your life, property and/or freedom may be killed without warning.</li>
       <li>Raids and hits can be completed by killing without warning.</li>
       <li>All other cases require a valid 10 second warning, including a clear set of instructions, delivered through typed chat. It is the full responsibility of the person giving the warning to ensure all intended targets are aware of the warning. If the
          target has completed the instructions in full, you may not kill them. The action to be completed and the amount of time they have to complete the said action shall be included in all 10 second warnings for the warning to be valid.
          <ul>
             <li>Group warnings shall only be authorized for 10 second leave warnings.</li>
             <li>Example: Drop 3k or die you have 10 seconds. | Leave or die you have 10 seconds.</li>
          </ul>
       </li>
       <li>If a target of which a warning and/or inducing action is being directed too shows hostile intent OR ignorance of the instruction, such as but not limited to specifically pulling out a weapon (and not the other way around), then action can be made
          instant.
          <ul>
             <li>Examples of Inducing Actions: Stunsticking, Raping, Mugging and etc.</li>
          </ul>
       </li>
    </ul>
    <p><strong><font style="color:#913939">Metagaming</font></strong></p>
    <ul>
       <li>Your character may not use information beyond their knowledge. This includes but is not limited any form of revenge killing, warrant, wanting, or demoting</li>
    </ul>
    <p><strong><font style="color:#913939">Props and Entities</font></strong></p>
    <ul>
       <li>Prop/Entity/Door spamming, blocking, climbing, surfing, and minging is not allowed.</li>
       <li>Do not spawn props/move props inside of other players’ bases, do not do it during raids, and do not do it inside of a server event.</li>
       <li>Building abnormally large bases, obscene objects, or other RP-restricting structures (i.e things blocking the road) will result in them being removed.</li>
    </ul>
    <p><strong><font style="color:#913939">Basing and Building</font></strong></p>
    <ul>
       <li>You may have a building sign (using textscreen) to isolate and protect yourself from the RP world provided you do not have any raidables, and you are not engaging in role-play. It must be removed when you are finished. </li>
       <li>The maximum amount of fading doors per base is four.</li>
       <li>A keypad to a fading door must be clearly identifiable.</li>
       <li>Bases cannot force players to crouch, jump, or crouch jump at any location within.</li>
       <li>Fading bridges and sky-bases are not allowed.</li>
       <li>Base entrances as well as the overall inner layout must be absolutely clear and concise. (i.e mazes, traps, puzzles, etc.)</li>
    </ul>
    <p><strong><font style="color:#913939">RP Relation</font></strong></p>
    <ul>
       <li>You are free to protect players that you have RP relationship with (the first rule of RDM extends to these people).</li>
       <li>Ways to be RP related:
          <ul>
             <li>Job/Class – This takes precedence over all other RP relation. You must also follow all class rules before considering RP relation.</li>
             <li>Owning the same base - You may only protect those within the vicinity of your base.</li>
             <li>Organization – An organization can be made for $100,000 .</li>
             <li>Hired/Working Together – You must be either hired through F4, or have your job name set as: /job &quot;with person/org name here*&quot;</li>
             <li>Customer Relationship – Whilst performing your transaction you have RP relation with your customer</li>
          </ul>
       </li>
    </ul>
    <p><strong><font style="color:#913939">Raiding, Mugging, and Hostage Taking</font></strong></p>
    <ul>
       <li>You (and those RP related with you) must wait 10 minutes before performing these actions on the same person, base, or organization. This does not apply to Police Officers re-raiding bases for illegal infractions.</li>
    </ul>
    <p><strong><font style="color:#913939">Mugging</font></strong></p>
    <ul>
       <li>Maximum $3,000</li>
       <li>Must grant victims 10 seconds to oblige unless they are escaping</li>
       <li>Any signs of hostile intent from the victim (taking out weaponry) is KOS, this does NOT include if the victim already has a weapon out.</li>
       <li>Any signs of clear clear clear clear CLEAR attempts of escape from the victim renders them KOS</li>
    </ul>
    <p><strong><font style="color:#913939">Hostage Taking</font></strong></p>
    <ul>
       <li>Hostage ransom cannot exceed $10,000.</li>
    </ul>
    <p><strong><font style="color:#913939">Raiding</font></strong></p>
    <ul>
       <li>Once you’ve completed your raid, you must leave immediately. You cannot occupy the base.</li>
       <li>If it is obvious that there are no raidables in a base, you may not raid.</li>
       <li>You may raid checkpoints as to dismantle their purpose. </li>
    </ul>
    <hr />
    <h2><strong><font style="color:#212121">Frequently Asked Questions</font></strong></h2>
    <p>Last Updated: 10/31/2017 &quot;CTRL+F&quot; a keyword to quickly find your possible question!<br />
       <strong><font style="color:#913939">Recently Added</font></strong></p>
    <h2><strong><font style="color:#212121">Mugging / Raiding:</font></strong></h2>
    <ul>
       <li>What classifies as a raid? ➢ Keypad cracking/lockpicking/C4'ing any of their keypads/doors/props, or running in their base and shooting them are all ways to initiate raids.</li>
       <li>Can I mug hobos / police officers? ➢ Yes, you can.</li>
       <li>Can you raid with base code/raid while already inside someones base (from base code)? ➢ Yes.</li>
       <li>Can I mug in spawn? ➢ No.</li>
       <li>If I'm being raided, can I kill everybody inside the raid zone(Everybody that enters the base) ➢ Yes.</li>
       <li>If someone's mugging you, and you pulled out a gun and shot but you didn't manage to hit him, can that someone shoot you? ➢ If someone is mugging you, and you pull out a gun, they can execute you.</li>
       <li>Can someone rp related to the mugger shoot the one getting mugged because the one getting mugged didn't abide the mug?(Example: Running away) ➢ Yes.</li>
       <li>If someone's raiding, can they kill EVERYONE in the raid zone? ➢ Yes.</li>
       <li>Can I want someone for mugs I don't see happen, but I saw in chat? ➢ Yes.</li>
       <li>After I give someone money from mugging me, can I kill them? ➢ Yes.</li>
       <li>Can I add commands like &quot;dont draw a gun/ dont point a gun at me.&quot; To a 10s warning and kill for it if they dont listen? ➢ Yes, but don't be unreasonable and kill them if they're already holding a gun out.</li>
       <li>Is locking a lockpicked door against the rules? ➢ Yes.</li>
       <li>Is destroying entities considered raiding? ➢ No.</li>
       <li>Are you allowed to kill someone for a printer without a warning? ➢ No, you can only kill a person for stealing a printer that is yours, or from someone RP related to you if not then you need to mug for the printer.</li>
    </ul>
    <h2><strong><font style="color:#212121">Building:</font></strong></h2>
    <ul>
       <li>Can I make skybases? ➢ No.</li>
       <li>What classifies as a skybase? ➢ Any base that is far off the ground. If the construct in the air is not a base, it's allowed.</li>
       <li>What classifies as a base? ➢ Any construct/building that is meant to harbor people and/or items. Staff discretion can be applied.</li>
       <li>Can bases with multiple entrances, just leave one opened? (Propblocking every other entrances) ➢ Yes.</li>
       <li>Can I build giant slides? ➢ Yes, but staff can remove it if it becomes an issue.</li>
       <li>Can I build large, pointless constructions that restrict a street or even block it off completely? ➢ No, please. Staff have discretion on this, but you should be smart enough to figure it out.</li>
       <li>How many fading doors are allowed in the hotel ? ➢ Hotel Manager gets 3 fading doors and each Tenant each get 3 for their rooms only.</li>
    </ul>
    <h2><strong><font style="color:#212121">Miscellaneous:</font></strong></h2>
    <ul>
       <li>If someone is shooting in your direction, but just shooting at the walls just right beside you, can you shoot him back? ➢ No.</li>
       <li>Who owns the base if it has 2 main entrances and 2 different people owning it? ➢ Whoever owns the most obvious front door.</li>
       <li>Are nametags/playermodels OOC? ➢ Yes.</li>
       <li>If someone gives me a 10s warning, can I leave the area, get some ammo, come back, and kill em? ➢ Situation has ended, you've left and that was your choice so no.</li>
       <li>Can hitman kill someone with a building sign up? ➢ Yes.</li>
       <li>Can you arrest a gun dealer (who is licensed) for selling to an unlicensed person? ➢ No.</li>
       <li>Can you use a camera to see into bases? ➢ No, cameras are for your security only.</li>
       <li>Can I be wanted/demoted for prank 911 calls? ➢ Yes.</li>
       <li>Are Banned players considered /ooc ➢ Yes, as to which killing them is not assault/murder</li>
       <li>Is playing Racist/Ear Rape music allowed? ➢ No, it is not allowed.</li>
    </ul>
    <br />
    <p>This thread will be continually updated as more questions arise</p>
 </div>
 </div>
{% endblock %}